  
.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar-welcome {
    color: grey;
    text-transform: uppercase;

  }

.NavBar-link{
    text-align: right;
}

   


