  
.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar-welcome {
    color: grey;
    text-transform: uppercase;
    font-size: 30px;

  }

.NavBar-link{
    display: flex-end;
    text-align: right;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

